{{#* inline "listConfigs" }}

    {{#each actions as |action| }}
        {{#if action.isHeader }}
            {{> configHeader header=action }}
        {{else}}
            {{> actionLine action=action }}
        {{/if}}
    {{/each}}

    {{#each topLevelGroups as |topLevelGroup| }}
        {{> listConfigGroups groups=topLevelGroup }}
    {{/each}}

{{/inline}}

{{#*inline "configHeader"}}
    <div class="flexrow deck-row content header">
        <div>{{header.label}}</div>
    </div>
{{/inline}}

{{#*inline "actionLine"}}
    <div class="flexrow deck-row content action" data-param="{{action.param}}">
        <i class="toggle-button action {{action.classes}}"></i>
        <div>{{action.label}}</div>
        {{#if action.input.displayed}}
            <input type="text" class="param-input" value="{{action.input.text}}" >
        {{/if}}
    </div>
{{/inline}}

{{#* inline "listConfigGroups"}}

    <div class="flexrow deck-row content header">
        <div>{{groups.header}}</div>
    </div>

    {{#each groups.list as |group| }}
        <div class="flexrow deck-row content conf" data-key="{{group.stackId}}" data-group="{{group.groupId}}">
            <i class="toggle-button group-check {{group.toggle.checkCss}}"></i>
            <i class="toggle-button group-fold {{group.toggle.foldCss}}"></i>
            <div>{{group.name}}</div>
        </div>
        {{#if group.unfolded}}
            <!-- Description -->
            <div class="flexrow deck-row content action">
                <i class="toggle-button action fas fa-info"></i>
                <div>{{group.description}}</div>
            </div>

            {{#unless group.lines.alone}}
                <div class="action-grid {{group.grid.css}}" data-key="{{group.stackId}}" data-group="{{group.groupId}}">
                    <div class="header right-col" style="grid-area: Fxxx;">{{group.grid.from}} →</div>
                    <div class="header left-col" style="grid-area: Txxx;">{{group.grid.target}} ↴</div>
                    <div class="header" style="grid-area: F-DE;">Deck</div>
                    <div class="header" style="grid-area: F-DI;">Discard</div>  
                    <div class="header" style="grid-area: F-Gx;">GM</div>
                    <div class="header" style="grid-area: F-Px;">Player</div>
                    <div class="header" style="grid-area: F-GH;">Hand</div>
                    <div class="header" style="grid-area: F-GR;">Revealed</div>
                    <div class="header" style="grid-area: F-PH;">Hand</div>
                    <div class="header" style="grid-area: F-PR;">Revealed</div>

                    {{#if group.lines.noTarget}}
                        <div class="header left-col" style="grid-area: T-NO;">No target</div>
                    {{/if}}
                    {{#if group.lines.deck}}
                        <div class="header left-col" style="grid-area: T-DE;">Deck</div>
                    {{/if}}
                    {{#if group.lines.discard}}
                        <div class="header left-col" style="grid-area: T-DI;">Discard</div>
                    {{/if}}
                    {{#if group.lines.gm}}
                        <div class="header left-col" style="grid-area: T-Gx;">GM</div>
                        <div class="header" style="grid-area: T-GH;">Hand</div>
                        <div class="header" style="grid-area: T-GR;">Revealed</div>
                    {{/if}}
                    {{#if group.lines.players}}
                        <div class="header left-col" style="grid-area: T-Px;">Player</div>
                        <div class="header" style="grid-area: T-PH;">Hand</div>
                        <div class="header" style="grid-area: T-PR;">Revealed</div>
                    {{/if}}

                    {{#each group.actions as |action| }}
                        <div style="grid-area: {{action.area}};">
                            <i class="group-action {{action.classes}}" 
                            title="{{action.name.current}}" 
                            data-config="{{action.confKey}}"></i>
                        </div>
                    {{/each}}
                </div>
            {{/unless}}

            <div class="deck-row content unfolded-margin"></div>
        {{/if}}
    {{/each}}

{{/inline}}



<form>
    <p class="notification info">{{localize 'RTUCards.settings.config-actions.title'}}</p>

    <div class="flexcol deck-list">

        {{#each stacks as |stack| }}
            <div class="flexcol declared-deck" data-key={{stack.key}}>
                <div class="flexrow deck-row">
                    {{#if stack.gui.toggled}}
                        <i class="far fa-check-square toggle-button {{#unless stack.gui.toggleLocked}}active deck{{/unless}}"></i>
                        {{#if stack.gui.detailsDisplayed}}
                            <i class="fas fa-sort-down toggle-button active show"></i>
                        {{else}}
                            <i class="fas fa-sort-up toggle-button active show"></i>
                        {{/if}}
                    {{else}}
                        <i class="far fa-square toggle-button active deck"></i>
                    {{/if}}
                    <div>{{stack.gui.deck.name}}</div>
                </div>
                {{#if stack.gui.detailsDisplayed}}
                    {{> listConfigs actions=stack.actions topLevelGroups=stack.groupsGui }}
                {{/if}}
            </div>
        {{/each}}
    </div>
    <button class="save-stacks">{{localize "RTUCards.settings.config-actions.saveAndClose"}}</button>
</form>