{{#*inline "configHeader"}}

    <div class="flexrow deck-row content header">
        <div>{{header.label}}</div>
    </div>

{{/inline}}

{{#*inline "configLine"}}

    <div class="flexrow deck-row content conf">
        {{#if box.toggled}}
            <i class="far fa-check-square toggle-button active config" data-config="{{box.config}}"></i>
        {{else}}
            <i class="far fa-square toggle-button active config" data-config="{{box.config}}"></i>
        {{/if}}
        <div>{{box.label}}</div>
    </div>

{{/inline}}

<form>
    <p class="notification info">{{localize 'RTUCards.settings.sheet.title'}}</p>

    <div class="flexcol deck-list">
        {{#each stacks as |stack| }}
            <div class="flexcol" data-key={{stack.key}}>
                <div class="flexrow deck-row">
                    {{#if stack.gui.toggled}}
                        <i class="far fa-check-square toggle-button {{#unless stack.gui.toggleLocked}}active deck{{/unless}}"></i>
                        {{#if stack.gui.detailsDisplayed}}
                            <i class="fas fa-sort-down toggle-button active show"></i>
                        {{else}}
                            <i class="fas fa-sort-up toggle-button active show"></i>
                        {{/if}}
                    {{else}}
                        <i class="far fa-square toggle-button active deck"></i>
                    {{/if}}
                    <div>{{stack.gui.deck.name}}</div>
                </div>
                {{#if stack.gui.detailsDisplayed}}
                    <div class="flexrow deck-row content">
                        <div>{{stack.gui.deck.desc}}</div>
                    </div>
                    {{#each stack.configBoxes as |box| }}

                        {{#if box.isHeader }}
                            {{> configHeader header=box }}
                        {{else}}
                            {{> configLine box=box }}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        {{/each}}
    </div>
    <button class="save-stacks">{{localize "RTUCards.settings.sheet.saveAndClose"}}</button>
</form>